@{
    ViewBag.Title = "Blow Out!";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Main.css" />
</head>

<body background="~/Content/Images/Instruments.png">
    <div class="jumbotron" style="text-align:center">
        <h1>Welcome to Blow Out!</h1>
        <p>We blow our competitors out of the water</p>
        <p class="lead">
            We will make your rental experience fun and easy.<br />
            You can rent both new and used instruments.<br />
            Click the link below to start renting today!
        </p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Rent Instruments Now &raquo;</a></p>
    </div>

    <br />
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                "It's easy to play any musical instrument:
                all you have to do is touch the right key at the right time and the instrument will play itself”.<br />
                - Johann Sebastian Bach
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1" style="text-align:center">
        </div>
        <div class="col-md-3" style="text-align:center">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3" style="text-align:center">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3" style="text-align:center">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
    </div>
</body>